@import '../styles/mixins.scss';

.container {
  background: var(--bg-color);
  min-height: 100vh;
  padding: 0;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.header {
  text-align: center;
  margin-bottom: 5rem;

  .logo {
    width: 100%;
    margin: auto;
    margin-bottom: 1rem;
    max-width: 10rem;
  }

  .title {
    height: 0;
    color: transparent;
    margin: 0;
  }

  .intro {
    font-size: 3rem;
  }
}

.about {
  margin: 2rem 0;
  display: grid;
  grid-gap: 1rem;

  @include for-desktop {
    text-align: left;
  }

  .avatar {
    grid-row: 2;
  }

  address {
    margin: 1rem 0;

    ul {
      list-style: none;
      margin: 0;
      padding: 0;

      @include for-desktop {
        text-align: left;
        display: flex;
        flex-wrap: wrap;
      }

      li {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 1rem;

        @include for-desktop {
          width: 50%;
          justify-content: flex-start;
        }

        a {
          display: flex;
          font-style: normal;
          text-decoration: none;
          color: var(--white);

          img {
            margin-right: 1rem;
          }
        }
      }
    }
  }

  @include for-desktop {
    grid-template-columns: 20rem 1fr;
    grid-gap: 0;

    h2 {
      grid-column: 2/3;
    }

    .avatar {
      grid-area: 1/1/3/2;
    }

    address {
      grid-column: 2/3;
    }
  }
}

.avatar {
  margin: auto;
  max-width: 12.5rem;
  border-radius: 50%;
  border: 3px solid #fff;
  box-shadow: 0 0 0 1rem hsl(0, 0%, 20%);
}
