@import './mixins';

:root {
  --black: #1c1717;
  --white: #fff;
  --pink: #e34f8c;
  --yellow: #f8c275;
  --green: #97f36d;
  --purple: #c7adfb;
  --bg-color: var(--black);
  --text-color: var(--white);
  --terminal-bg-color: #272738;
  --statusbar-bg-color: #353551;
}

@font-face {
  font-family: 'Hasklig';
  src: url('./fonts/hasklig.woff2') format('woff2');
}

@font-face {
  font-family: 'Miso';
  src: url('./fonts/miso.woff2') format('woff2');
}

html {
  font-size: 85%;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Hasklig', 'Courier New', Courier, monospace;
  line-height: 1.6;
  color: var(--text-color);
  font-size: 1rem;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4 {
  font-family: 'Miso', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  margin: 0.5rem 0;
  text-transform: uppercase;
  letter-spacing: 3px;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 2.2rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.2rem;
}

h5 {
  font-size: 1.5rem;
}

a {
  text-decoration: none;

  :hover {
    text-decoration: underline;
  }
}

p {
  margin: 0.5rem 0;
}

img {
  max-width: 100%;
  display: block;
}

main {
  @include for-desktop {
    max-width: 60vw;
  }
}
